
[Desktop Entry]
Version=1.4.4
Type=Application

Name=Marble
Comment==A marble race minigame, made with Godot Engine.
Categories=Game;

Icon=org.mechanicalflower.Marble
Exec=marble-wrapper
Terminal=false
